@page "/shop/Checkout"
@using LearnBlazorApp.Services
@using LearnBlazorApp.Entity
@inject IShoppingCartService cartService
<h3>Checkout</h3>

@if (!cartService.CanCheckout())
{
    <div class="ui warning message icon">
        <i class="cart icon"></i>
        <div class="ui content">
            <b>No Items Added to Cart</b>
            <p>Add Items to cart inorder to checkout, You can <a href="/shop">Go to Shopping Page</a> to get started</p>
        </div>
    </div>
}
else if (products == null)
{
    <div class="ui active inverted dimmer">
        <div class="ui small text loader">Getting Cart Items</div>
    </div>
    <p></p>
}
else
{
    <table class="ui table striped">
        <thead>
            <tr><td>Item</td> <td>Rate</td> <td>Quantity</td>  <td>Total</td></tr>
        </thead>
        <tbody>

            @foreach (var item in products)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.SellingPrice</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Quantity * item.SellingPrice)</td>
                </tr>
            }
        </tbody>
        <tr>
            <td colspan="3"><b>TOTAL ITEMS</b></td>
            <td>@cartService.GetItemsCountInCart()</td>
        </tr>
        <tr>
            <td colspan="3"><b>TOTAL TAX</b>(Rate @cartService.GetTaxationRate()%)</td>
            <td>@cartService.GetTotalTax()</td>
        </tr>
        <tr>
            <td colspan="3"><b>TOTAL ITEMS</b></td>
            <td style="color:red"><b>@cartService.GetTotalCost()</b></td>
        </tr>


    </table>
    <div class="ui fluid button green">
        <i class="cart icon"></i>
        Checkout
    </div>
}
@code{

    private IEnumerable<Product> products;
    protected override async Task OnInitializedAsync()
    {
        products = await cartService.GetCartItemsAsync();
    }
}
